body {
  background-image: url('dlt2.png');
}


label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 10%;
  padding: 10px
}

table {
  color:#f0f0f0;
  font-weight: 900;
  font-size: 20px;
}

table,th, td {
  text-align: left;
  padding: 8px;
  border: 2px solid;
}
th {
 
  color:#f0f0f0;
}

